bson==0.5.10
celery==4.1.1
connexion==2.7.0
cryptography==2.9.2
-e git+https://github.com/uniqueg/cwl-tes.git@57a193cabab2444bc9b661f83011837bd5ed571a#egg=cwl-tes
drs-cli==0.2.2
Flask==1.1.1
Flask-PyMongo==2.3.0
Flask-Cors==3.0.8
foca==0.1.0
kombu==4.6.11
py-tes==0.3.0
PyJWT==1.7.1
pymongo==3.10.1
python-dateutil==2.6.1
PyYAML==5.3
requests==2.23.0
ruamel.yaml==0.16.5
Werkzeug==1.0.1
